

$wdsColor:rgb(0, 0, 0);
$wdsSize:14px;
$allColor: #e7a7a7;
// $bcolor:

//position
.x-rela{
    position: relative;
}
.x-abso{
    position: absolute;
}
//text-align
.x-text-left{
    text-align: left;
}
.x-text-right{
    text-align: right;
}
.x-text-center{
    text-align: center;
}

// flex

.x-flex{
    display: flex;
}

