

$wdsColor:rgb(235, 43, 123);
$wdsSize:14px;

//position
.x-rela{
    position: relative;
}
.x-abso{
    position: absolute;
}
//text-align
.x-text-left{
    text-align: left;
}
.x-text-right{
    text-align: right;
}
.x-text-center{
    text-align: center;
}